*
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*:focus
{
    outline: none;
}

a
{
    text-decoration: none;
    color: white;
}

body
{
    margin: 0px;
    height: 100vh;
    background-color: black;
    color: white;
}

ul
{
    list-style-type: none;
    padding: 0px;
}

ul li
{
    font-size: 13px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    transition-duration: 0.5s;
}
ul li:hover
{
    background-color: #8EC127 !important;
    color: white !important;
    cursor: pointer;
    transform: scale(1.2);
}

.button 
{
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: none;
    background-color: #8EC127;
    color: white;
}

.button:hover 
{
    transition-duration: 0.5s;
    box-shadow: 0px 0px 30px #8EC127;
}

#panel
{
    left: 0px;
    top: 0px;
    width: 10%;
    height: 100vh;
    background-color: black;
    color: white;
    float: left;
}
#menu
{
    width: 90%;
    height: 100vh;
    float: left;  
    border-style: none; 
}

.follow
{
    float: left;
    width: 5vw;
    transition-duration: 0.5s;
}
.follow:hover
{
    transform: scale(1.2);
}

#followus
{
    width: 10vw;
    position: absolute;
    bottom: 10px;
}

@media screen and (max-height: 500px) {
    #followus {
        display: none;
    }
}

video#bgvid 
{ 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url() no-repeat;
    background-size: cover; 
    transition-duration: 1s;
}

p
{
    font-size: 13px;
}

h1
{
    font-weight: 100;
    font-size: 40px;
}

#logo
{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cd
{
    width: 20vh;
    height: 20vh;
    background-color: transparent;
    color: white;
    border-radius: 100%;
    box-sizing: border-box;
    opacity: 0.7;
    border: 8vh solid white; 
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

h22
{
    font-family: segoe script;
    font-size: 35px;
}

h33
{
    font-family: segoe script;
    font-size: 12px;
}

h2
{
    font-size: 20px;
    margin-top: 0px;
}

h3
{
    font-size: 20px;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: -5px;
}

.italic
{
    font-style: italic;
    font-size: 12px;
}

.gray
{
    color: gray;
}

*
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.square
{
    height: 35px;
    color: black;
    border: none;
    float: left;
    background-color: white;
}

.round
{
    background-color: black;
    border: none;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    color: white;
    vertical-align: middle;
    font-size: 11px;
}

input[value = "FPS"]
{
    background-color: green;
    color: white;
}

input[value = "RTS"]
{
    background-color: steelblue;
    color: white;
}

input[value = "2DP"]
{
    background-color: orangered;
    color: white;
}

input[value = "Blizzard"]
{
    background-color: #00AEDB;
    color: white;
}

input[value = "Riot"]
{
    background-color: steelblue;
    color: white;
}

input[value = "CAPCOM"]
{
    background-color: orangered;
    color: white;
}

input[value = "Rockstar"]
{
    background-color: #E84C3D;
    color: white;
}

input[value = "EA"]
{
    background-color: red;
    color: white;
}


input[value = "POPCAP"]
{
    background-color: yellow;
    color: white;
}

input[value = "Ubisoft"]
{
    background-color: #1D1D1D;
    color: white;
}

#bot > img
{
    width: 100%;
}

#info
{
    padding-left: 20px;
    width: 500px;
    background-color: black;
    color: white;
    opacity: 0;
    transition-duration: 0.5s;
    transition-delay: 1s;
    z-index: 100;
    position: fixed;
    bottom: 0px;
    max-height: 80vh;
    overflow-y: scroll;
}

#thongtin
{
    opacity: 0;
    transition-duration: 1s;
    font-size: 16px !important;
}

#btl
{
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 200px;
    cursor: pointer;
}

#btg
{
    position: fixed;
    left: 110px;
    top: 0px;
    z-index: 200px;
}

input[value = "<"]
{
    cursor: pointer;
    background-color: black;
    color: white;
    border: 1px solid white;
    margin-left: 20px;
    margin-top: 20px;
    
}

#orderbill
{
    width: 100%;
    height: 100vh;
    background-color: white;
    color: black;
    float: left;
    align-content: center;
    padding-left: 5%;
    box-sizing: border-box;
    overflow: scroll;
}

input[type="text"], select
{
    margin-right: 10px;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    box-sizing: border-box;
}
input[type="text"]:hover, select:hover, select:focus
{
    border: 1px solid #8EC127;
}
input[type="text"]:focus
{
    background-color: #8EC127;
    border: none;
    color: white;
}

.green
{
    color: #8EC127;
    text-transform: uppercase;
}

#tabed
{
    padding-left: 20px;
}

#tab3, #tab4, #tab5
{
    font-size: 10px;
    transform: translateX(-100px);
    position: relative;
    transition-duration: 1s; 
}

#tab6
{
    /*transform: translateY(-159px);*/
    position: absolute;
    width: 10vw;
    top: 130px;
}

#top
{
    width: 100%;
    min-height: 100vh;
    background-color: white;
    color: black;
    background: #1E1E1E;
    background: -webkit-radial-gradient(circle, #1E1E1E, black);
    background: -o-radial-gradient(circle, #1E1E1E, black);
    background: -moz-radial-gradient(circle, #1E1E1E, black);
    background: radial-gradient(circle, #1E1E1E, black);
    box-sizing: border-box;
    float: left;
    z-index: 50;
}

#bot
{
    width: 100%;            
    transition-duration: 1s;
    float: left;
    position: absolute;
    top: 100vh;
}

.outer
{
    width: 150px;
    height: 200px;
    overflow: hidden;
    float: left;
    margin: 15px 20px 15px 20px;
    cursor: pointer;
}
.outer:hover .inner
{
    transform: translateY(-200px);
}

.inner
{
    background-color: black;
    color: white;
    width: 150px;
    height: 400px;
    transition-duration: 1s;
    text-align: center;
}

.inner img
{
    width: 150px;
    height: 200px;
}